.tag {
    border: solid 1px @primary-color;
    border-radius: 15px;
    font-size: 18px;
    padding: 3px 7px;
    color: @primary-color;
    margin: 3px;
    cursor: pointer;
    transition: all .5s @ease-base;
}

.tag:hover {
    color: white;
    background: @primary-color;
}

.tagList {
    display: flex;
    margin: 20px -5px;
    flex-wrap: wrap;
}