.footer {
    margin-top: 100px;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .logo {
        color: white;

        &:hover {
            background: #555;
        }
    }
}
