body {
  margin : 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color      : #222;
  margin     : 0;
}

.mt-60 {
  margin-top: 60px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.p-40 {
  padding: 40px;
}

.w-100 {
  width: 100%;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.underline-white {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.main-diagonal {
  position  : absolute;
  top       : 0;
  right     : 0;
  left      : 0;
  height    : 700px;
  transform : skewY(-50deg) translateY(400px);
  z-index   : -1;
  background: @primary-color;
  opacity   : .05;
}

/*------Навбар-----*/

.modalNavbar-enter {
  display  : flex !important;
  transform: translateY(-100vh);
  opacity  : .6;
}

.modalNavbar-enter-done {
  display: flex !important;
}

.modalNavbar-exit {
  display: flex !important;
}

.modalNavbar-exit-active {
  transform: translateY(-100vh);
  opacity  : .6;
}

/*------Page Fade-----*/

.page-fade-enter-active {
  opacity: 1;
}

.page-fade-enter-done {
  transform: translateY(0) !important;
  opacity  : 1 !important;
}